{% extends "base.html" %}
{% block cssfiles %}
	<style>
		div.panel {
			width: 60%;
			margin: auto;
			margin-top: 50px;
		}

        @media screen and (max-width:480px) {
        	div.panel {
        		width: 90%;
        	}
        }
	</style>
{% endblock %}

{% block mainbody %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>关于</h3>
		</div>
	  	<div class="panel-body">
	  		<h4>关于西电秘密</h4>



	  		<p>这里是西电秘密，不是西电美眉。</p>

	  		<p>在这里，每个人都可以吐露自己的秘密。你的学号不会被泄露，没有人会知道你是谁。你可以放心地讲出你心底的秘密，不能在人人上说的秘密，不能在朋友圈说的秘密，不能在微博上说的秘密。</p>

	  		<p>
	  			这里是一个性感的兴趣。你不知道发帖的人是谁，ta可能是你朝夕相处的同学，日思夜想的女神，可望不可即的男神，甚至就是睡在你对面的舍友。但这都不妨碍你大胆的讲出你无法面对面讲出的秘密。
	  		</p>

	  		<p>
	  			在这里，你可以发现别人不为人知的一面，你会第一次对别人内心的真实想法感到惊奇，也会对感到许多的共鸣。
	  		</p>

	  		<br>	
	  		<h4>关于隐私</h4>

	  		<p>西电秘密的用户以学院和年纪的方式显示，不会显示用户的真实学号。</p>

	  		<p>请以真实的学号注册。遇到学号已被注册或忘记密码等问题请私信给管理员或发送邮件至<code>xdhfying在gmail.com</code></p>

	  		<p>您发表的秘密和回复过的秘密将会被默认为关注，该秘密有其他用户评论后您将会收到新消息。您赞过的秘密不会被设置为关注。</p>

	  		<p>回复评论时，您可以点击您要回复的楼层，回复框内会出现<code>@</code>加上您要回复的楼层。您也可手动添加<code>@</code>加上楼层号以方便大家查看评论。</p>

	  		<p>您可以发送私信给秘密的原作者或评论者，猜猜ta是谁哦~</p>

	  		<p>在搜索栏中输入学院和年纪，搜索您想要获得的特定秘密。可以以空格划分多个关键词，系统会返回符合搜索条件的最近30条秘密。</p>

	  		<p>另外，您也可以订阅西电秘密的RSS源，随时获取最新的秘密。</p>

	  	</div>
	</div>
{% endblock %}