<!DOCTYPE html>
<html>
<head>
    <title>Xidian Secret</title>
</head>
<body>
    <table>
    {% for post in posts %}
            {{ post.post_uid }} &nbsp;&nbsp;&nbsp;&nbsp;
            {{ post.post_content}}<br/>
            {{ post.post_date }}<br/>
            {% for comment in post.comments %}
                {{ comment.comment_content }} &nbsp;&nbsp;&nbsp;&nbsp;
                {{ comment.comment_uid }}<br/>
            {% endfor %}<br/>
            {% if user_logged %}
                <form action="/comment/{{ post.id }}/" method="post" accept-charset="UTF-8">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="Comment"/>
                </form>
            {% endif %}

        <br/><br/><br/><br/>
    {% endfor %}
    </table>
    {% if user_logged %}
        <form action="/post/" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ post_form.as_p }}
            <input type="submit" value="Submit"/>
        </form>

    {% else %}
        <p>Account Login </p>

        {% if error %}
            <li>
                 <p style="color: red;">
                    {{error}}
                 </p>
            </li>
        {% endif %}

        <form action="/login/" method="post">
            {% csrf_token %}
            <input type = 'text' placeholder="Please input account" name="uid">
           <br>

            <input type = 'password' placeholder="Please input password" name="password">
            <br>
            <input type = 'submit' placeholder="Login" value="Login">
            <br>
            <a href="/register/">register new accout</a>
        </form>
    {% endif %}


</body>
</html>