{% extends "base.html" %}

{% block cssfiles %}
    <style type="text/css">
        table {
            width: 30%;
            margin-left: 35%;
        }

        .submit {
            padding-top: 20px;
            text-align: right;
        }

        @media screen and (max-width:480px) {
            table{
                width: 90%;
                margin-left: 5%;
            }
        }

        .alert {
            width: 100%;
        }

    </style>
{% endblock %}}


{% block mainbody %}
<br><br><br>
    <table>
        <form action="/login/" method="post" role="form">
            {% csrf_token %}
            <tr>
                <td></td>
                <td>
                    {% if error %}
                        <div class="alert alert-danger"><p id="error" style="color: red;">{{error}}</p></div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>学号:</strong></label>
                </td>
                <td>
                    <input type='text' placeholder="请输入学号" required class="form-control" name="uid">
                </td>
            </tr>
            <tr>
                <td>
                    <label><strong>密码:</strong></label>
                </td>
                <td>
                  <input type='password' placeholder="请输入密码" required class="form-control" name="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="submit">
                    <input type='submit' value="登录" class="btn btn-default">
                </td>
            </tr>
        </form>
    </table>
{% endblock %}