{% extends "base.html" %}
{% block cssfiles %}
    <link rel="stylesheet" href="../../static/css/post.css">
{% endblock %}
{% block jsfiles%}
    <script src="../../static/js/ajax.js"></script>
{% endblock %}

{% block mainbody %}

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="main">
				<div class="post_content">
		        	{{ post.post_content }}
		        </div>
				<hr>
					<div class="others">
						<span>{{ comments_num }}条评论 &nbsp;&nbsp;&nbsp;
							{{ post.post_date|date:"m月d日 h:m" }}</span>
					</div>
		        <div class="comments">
		        	<table class="table table-striped table-hover">
		        		<tbody>
		        			{% for comment in comments %}
			            		<tr id="comment{{ forloop.counter }}" onclick="comment({{ forloop.counter }})">
			            			<td>{{ comment.comment_content }}</td>
			            			<td>{{ comment.comment_uid }}</td>
			            			<td><span class="comment_date"><br>{{ comment.comment_date|date:"m月d日 h:m"}}</span></td>
			            		</tr>
			            	{% endfor %}
			            </tbody>
		        	</table>
		        </div>
		    {% if user.is_authenticated %}
		        <form action="/comment/{{ post.id }}/" method="post" accept-charset="utf-8">
		        	{% csrf_token %}
		        	<textarea class="form-control" name="comment" rows="2" id="comment_textarea"></textarea>
		        	<br>
		        	<input type="submit" class="btn btn-primary" value="Comment"/>
		        </form>
		    {% endif %}
		</div>
		<div class="col-md-2"></div>
	</div>


<table>
</table>
    
{% endblock %}