<html>
<head>
    <title>Register</title>
</head>
<body>

{% if error %}
    <p id="error" style="color: red;">{{error}}</p>
{% endif %}
<table>
    <form action="/register/" method="post">
        {% csrf_token %}
        <tr>
            <td>
                <label>学号:</label>
            </td>
            <td>
                <input type='text' name='uid' required />
            </td>
        </tr>
        <tr>
            <td>
                <label >密码:</label>
            </td>
            <td>
              <input type='password' name='password' required />
            </td>
        </tr>
         <tr>
             <td>
                <label>再次输入密码:</label>
             </td>
             <td>
                 <input type='password' name ='password2' required />
             </td>

         </tr>
          <tr>
              <td>
                   <input type='submit' value="注册">
              </td>
          </tr>
    </form>
</table>
</body>
</html>