{% extends "base.html" %}
<!-- head -->

{% block cssfiles %}
    {% load staticfiles %}    
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <style>
        .results {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }

        td.post_content {
            width: 75%;
        }
        td.post_uid {
            width: 15%;
        }
        td.post_uid {
            width: 10%;
        }

        tr {
            cursor: pointer;
        }
        @media screen and (max-width:480px) {
            .results {
                width: 100%;
            }
        }
    </style>
{% endblock %}
{% block jsfiles%}
    <script src="{% static "js/ajax.js" %}"></script>
    
{% endblock %}
<!-- /head -->

<!-- body -->

{% block search %}
    <form class="search nav navbar-nav" method="get" action="/search/">
        <input type="text" class="input-sm search-query" value="" name="q">
        <input type="submit" class="btn btn-search" value="搜索">
    </form>
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        <li>
            <a href="/logout/">登出</a>
        </li>
    {% else %}
        <li>
            <a href="/login/">登录</a>
        </li>
        <li>
            <a href="/register/">注册</a>
        </li>
    {% endif %}
{% endblock %}

{% block mainbody %}
    <div class="results">
        <table class="table">
            <tbody>
                {% for post in posts %}
                    <tr onclick="location.href='/post/{{ post.id }}/'; ">
                        <td class="post_content">{{ post.post_content }}</td>
                        <td class="post_uid">{{ post.post_uid }}</td>
                        <td class="post_date">{{ post.post_date|date:"m月d日 H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $("tbody tr:nth-child(even)").addClass("danger");
        $("tbody tr:nth-child(odd)").addClass("warning");
    </script>
{% endblock %}


<!-- /body -->


